/* div { */
/*   border: 1px solid red; */
/* } */

/* ******************* */
/* variables           */
/* ******************* */

@sequencer-width: 170px;
@pink-foreground: #ffc8ff; /* RGB: 255, 200, 255 */
@yellow-foreground: #ffffc7; /* RGB: 255, 255, 199 */
@blue-foreground: #c7ffff; /* RGB: 199, 255, 255 */
@font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;

/* ******************* */
/* tag overrides       */
/* ******************* */

body {
    /* font-family: 'Roboto', sans-serif; */
    font-family: @font-family-sans-serif;
    font-weight: 300;
    color: white;
    background-color: black;
}

p {
    font-weight: 300;
}

/* ******************* */
/* RoT classes & ids   */
/* ******************* */

.tempo-box {
    padding-top: 25px;
}

.tempo-box > p, .tempo-box > input {
    display: inline;
    vertical-align: top;
}

.tempo-box > p {
    padding-right: 10px;
}

.tempo-box > input {
    max-width: @sequencer-width;
}

.controls {
    max-width: 240px;
    margin: 0 auto;
}

.sequencer-row {
    .make-row;
    padding-bottom: 15px;

    canvas {
        padding-bottom: 15px;
        display: block;
        margin: 0 auto;
    }
}

.sequencer-xs12-sm4 {
  .make-sm-column(5);
  .make-xs-column(12);
}

.text-col-xs12-sm4 {
    .make-sm-column(6);
    .make-xs-column(12);
    .make-sm-column-offset(1);
}

.sequencer-col {
  .text-center;
}

.turn-back-col-sm8 {
    .hidden-xs;
    .make-sm-column(8);

    p {
        font-size: 17px;
    }
}

.turn-back-col-sm4-xs12 {
    .make-sm-column(4);
    .make-xs-column(12);

    @media (max-width: @screen-xs-max) {
        .text-right;
        padding-right: 30px;
    }
}

.text-col {
    .text-justify;
    border-top: 1px solid @pink-foreground;
    padding-top: 10px;

    p {
        font-size: 17px;
    }

    @media (max-width: @screen-xs-max) {
        max-width: 300px;
        margin: 30px auto 0 auto;
    }
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

#film-button {
    animation: pulse 5s infinite;
}

@keyframes pulse {
    0%, 100% {
        background-color: @blue-foreground;
    }
    50% {
        background-color: @yellow-foreground;
    }
}

#movie {
    margin: 50px 0;
}

/* ******************* */
/* bootstrap overrides */
/* ******************* */

.jumbotron h1 {
    color: @yellow-foreground;
    font-weight: 100;
    font-size: 70px;

    small { color: @blue-foreground;
            font-size: 50%;
            font-weight: 300;
            font-variant: small-caps;}
}

.jumbotron {
    background-color: black;
}

.table {
    width: 100%;
    .center-block();
    margin-top: 10px;
    margin-bottom: 20px;
    display: inline-table;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    border-top: none;
    vertical-align: middle;
}

tr {
    border-top: none;
}

tr:first-child {
    border-top: 1px solid @pink-foreground;
}

button {
    color: black;
}

.btn-small {
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    line-height: 1;
    margin: 0;
    min-height: 30px;
    min-width: 30px;
    padding: 0;
    font-size: 10px;
}

.btn-default:hover {
    background-color: @yellow-foreground;
    border-color: #fff;
    color: #333;
}

.btn-default:hover {
    background-color: @yellow-foreground;
    border-color: #fff;
    color: #333;
}

#melody-i:hover {
    background-color: @pink-foreground;
}

#timbre-a:hover, #timbre-b:hover {
    background-color: @blue-foreground;
}

.container {
    max-width: 750px;
}

.container .jumbotron, .container-fluid .jumbotron {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 24px;
}

/* ******************* */
/* CSS Animations      */
/* ******************* */

/* For WebKit web-browsers: Chrome/Safari */
@-webkit-keyframes slideDown {
    0%, 100% { -webkit-transform: translateY(-50px); }
    10%, 90% { -webkit-transform: translateY(0px); }
}/* For Gecko: Mozilla Firefox */
@-moz-keyframes slideDown {
    0%, 100% { -moz-transform: translateY(-50px); }
    10%, 90% { -moz-transform: translateY(0px); }
}

.slide-Down /* Slide-Down effect */
{
    -webkit-transform: translateY(-50px);
    -webkit-animation: slideDown 2.5s 1.0s 1 ease forwards;
    -moz-transform:    translateY(-50px);
    -moz-animation:    slideDown 2.5s 1.0s 1 ease forwards;
}

.sliding-effect
{
    -webkit-transition:     max-height .8s ease-out, opacity .8s ease 0.0s;
    -moz-transition:        max-height .8s ease-out, opacity .8s ease 0.0s;
    -o-transition:          max-height .8s ease-out, opacity .8s ease 0.0s;
    -ms-transition:         max-height .8s ease-out, opacity .8s ease 0.0s;
    transition:             max-height .8s ease-out, opacity .8s ease 0.0s;

    /* To hide by default, setting max-height
              and opacity = 0 */
    max-height:     800;
    opacity:        1;
    overflow:       hidden;
}